/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/files/uploads
/vendor
/.git-bak
/.duh
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
